<h2>Home Page</h2>
<h3>Where I end and you begin...</h2>
<br />
<div class="row">
<div class="span4">
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
</div>
</div>

