You have bookmarked this beginning.
<div class="form-actions">
<%= link_to 'Remove bookmark', unbookmark_beginning_path(@beginning), :method => :post, :class => 'btn btn-primary', remote: true %>
</div>

