/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 *= require custom
 *= require_tree .
*/

.content {
  background-color: #eee;
  padding: 40px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.comment {
	background: white;
	border: 1px solid #999;
	padding: 1em;
	margin-bottom: 1em;
}

.comment_content {
  background: white;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.comment .content a {
  background: white;
  color: #000;
  text-decoration: none;
}

.comment .avatar {
  float: left;
  color: #FFF;
  padding: 4px;
}

.comment .avatar img {
  display: block;
}

.comment .created_at {
  color: #555;
  font-size: 12px;
}

.comment .actions {
  font-size: 12px;
  margin-top: 5px;
}

.comment .actions a {
  text-decoration: none;
}

.comment .main {
  margin-left: 83px;
}

.nested_comments {
  margin-left: 83px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

.comment .headline {
  padding: 5px 14px;
  font-size: 12px;
  background-color: #D9EDF7;
  border: solid 1px #BBB;
  border-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}


