.navbar-inverse .navbar-inner {
  background-color: #1B1B1B;
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbfb', endColorstr='#ffeeeeee', GradientType=0);
  border-color: rgba(0, 0, 0, 0.1);
}

